

/* Basic */


* {
    margin: 0px;
    padding: 0px;
    color: #0f0f0f;
}

h1,h2,h3,a,ul,p {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

a {
    cursor: pointer;
}

body {
    background-color: #eeeeee;
}


/* Header */


header {
    background-color: rgba(231, 231, 231, 0.8);
    width: 100%;
    height: 70px;
    position: fixed;
    backdrop-filter: blur(10px);
    background-image: url(title.png);
    background-size: 105px;
    background-repeat: no-repeat;
    background-position: 120px;
    z-index: 1000;
}

header ul {
    display: inline;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none
}


/* MainIndex */


.MainIndex {
    padding-top: 350px;
    padding-bottom: 350px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.MainIndex h1 {
	 text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	 animation-name: title-pop-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    font-size: 40px;
    font-weight: 330;
    z-index: 500;
}

.MainIndex h3 {
	 animation-name: title-pop-out;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    font-size: 18px;
    font-weight: 330;
    padding-top: 15px;
    padding-bottom: 18px;
    z-index: 500;
}

.MainIndex a {
    animation-name: object-appear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    font-weight: 330;
    font-size: 14px;
    color: #f7f7f7;
    background-color: #121212;
    border: 3px #121212 solid;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    transition: 0.5s;
    z-index: 500;
}

.MainIndex a:hover {
    background-color: #363636;
    border: 3px #363636 solid;
}


/* AdvantageTitle */


.AdvantageTitleBox {
    overflow: hidden;
    position: relative;
    background-color: rgba(230, 230, 230, 0.9);
    width: 100vw;
    height: calc(25vw / 0.72);
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100vw;
}

.AdvantageTitle-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(25vw / 0.72);
    background-color: rgba(0, 0, 0, 0);
}

.AdvantageTitleBox h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    font-size: 28px;
    font-weight: 330;
}

.AdvantageTitleBox h3 {
    cursor: default;
    font-size: 16px;
    font-weight: 300;
    padding-top: 2px;
}


/* Slidershow */


.slidershow-content {
    margin: 0;
    padding-top: 225px;
    padding-bottom: 250px;
    background-color: rgba(0, 0, 0, 0);
}

.slidershow {
    width: 750px;
    height: 345px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.185);
}

.middle {
    position: absolute;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid rgb(196, 196, 196);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: rgb(196, 196, 196);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: 330;
}

.slides h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 3px;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}
#r5:checked~.s1 {
    margin-left: -80%;
}


/* InfoIcon */


.InfoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.InfoIcon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.InfoIcon li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.InfoIcon i {
    font-size: 30px;
    padding: 35px 35px 10px 35px;
    background-color: rgba(231, 231, 231, 0.8);
    /* top right bottom left*/
    transition: 0.5s;
}

.InfoIcon i:hover {
    color: var(--clr);
}

.InfoIcon p {
    background-color: rgba(231, 231, 231, 0.8);
    text-align: center;
    color: rgba(15, 15, 15, 0);
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5px;
    transition: 0.5s;
}

.InfoIcon p:hover {
    color: rgba(15, 15, 15, 1);
    cursor: default
}

.InfoIcon h2 {
    cursor: default;
    position: relative;
    right: 25px;
    font-weight: 525;
    background-color: rgba(231, 231, 231, 0.8);
    padding: 34px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}


/* TeamTitle & TeamInfos */


.TeamTitleBox {
    overflow: hidden;
    position: relative;
    background-color: rgba(230, 230, 230, 0.9);
    width: 100vw;
    height: calc(25vw / 0.72);
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100vw;
}

.TeamTitle-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(25vw / 0.72);
    background-color: rgba(0, 0, 0, 0);
}

.TeamTitleBox h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    font-size: 28px;
    font-weight: 330;
}

.TeamTitleBox h3 {
    font-size: 16px;
    font-weight: 300;
    padding-top: 3px;
}

.TeamInfos h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 330;
    transform: translateY(2vw);
}

.TeamInfos-area ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TeamInfos-area div {
    width: 15vw;
    height: 15vw;
    margin-top: 10vw;
}

.TeamInfos-area img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 6.5vw;
    opacity: 0.85;
    border-radius: 10px;
    transform: translateX(4.2vw)translateY(1vw);
    transition: 1s;
}

.TeamInfos-area img:hover {
    opacity: 1;
}

.TeamInfos-area h2 {
    padding-top: 5px;
    font-weight: 330;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
    transition: 1s;
}

.TeamInfos-area h2:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.TeamInfos-area p {
    font-weight: 300;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
}


/* Friendship-link */


.friendship-link h1 {
    font-size: 25px;
    font-weight: 330;
    text-align: center;
    margin-top: 9vw;
}

.friendship-link details {
    font-size: 18px;
    font-weight: 350;
    list-style: none;
}

.friendship-link summary {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    cursor: default;
    list-style: none;
    font-size: 15px;
    font-weight: 330;
    color: #575757a6;
    transition: 1s;
}

.friendship-link summary:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.friendship-link ul {
    margin-top: 5vw;
}

.friendship-link li {
    list-style: none;
    padding: 5px;
}

.friendship-link p {
    display: inline;
    margin-left: 3vw;
    font-size: 15px;
    color: #494949b9;
    transition: 1s;
}

.friendship-link p:hover {
    color: #242424d0;
}

.friendship-link a {
    text-decoration: none;
    text-align: right;
    font-size: 15px;
    color: #83838396;
    position: absolute;
    right: 3vw;
    transition: 1s;
}

.friendship-link a:hover {
    color: #424242b9;
}


/* Footer */


footer {
    background: rgba(221, 221, 221, 0.295);
    margin-top: 9vw;

}

footer h1 {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #363636;
}


/* Blob */


.blob {
    position: absolute;
    width: 280px;
    height: 280px;
    filter: blur(2px);
    background: linear-gradient(180deg, rgba(233, 233, 233, 0.24), #e0e0e0);
    border-radius: 34% 62% 35% 60% / 25% 35% 60% 85%;
    transform: translate(-200px, -80px) rotate(-90deg);
    transition: 1s cubic-bezier(0.075, 0.02, 0.165, 1);
    animation: blob-anim 20s infinite alternate;
}

.blob:hover {
    width: 320px;
    height: 320px;
    filter: blur(25px);
    box-shadow: inset 0 0 0 5px rgba(230, 230, 220, 0.5),
        inset 100px 100px 0 0 rgba(202, 202, 202, 0.5),
        inset 200px 200px 0 0 rgba(215, 215, 215, 0.5),
        inset 300px 300px 0 0 rgba(232, 232, 232, 0.5)
}

@keyframes blob-anim {
    100% {
        transform: translate(15px,15px) rotate(-10deg);
        border-radius: 80% 24% 33% 67% / 50% 55% 45% 32%;
    }
}

@keyframes title-pop-in {
    0% {
    	  transform: translateY(-5px);
    	  opacity: 0.3;
    }
    100% {
        transform: translateY(0px)
        opacity: 1;
    }
}
@keyframes title-pop-out {
    0% {
    	  transform: translateY(5px);
    	  opacity: 0.3;
    }
    100% {
        transform: translateY(0px)
        opacity: 1;
    }	
}
@keyframes object-appear {
    0% {
	     opacity: 0;	
 	 }
	 100% {
	 	  opacity: 1;
	 }
}

/* OnPhone */

@media  screen and  (max-width: 800px){


    /* Header */


    header {
        background-position: 20px;
        background-size: 80px;
    }
    header ul{
    	font-size: 8px;
    }
    
    
    /* MainIndex */
    
    
    .MainIndex h1{
    	font-size: 25px;
    }
    .MainIndex h3{
    	font-size: 12px
    }
    .MainIndex a{
    	font-size: 12px;
    }
    
    
    /* AdvantageTitle */
    
    
    .AdvantageTitle h1{
    	font-size: 16px;
    }
    .AdvantageTitle h3{
    	font-size: 8px;
    }
    
    
    
    /* Slideshow */
    

    .slidershow {
        width: 360px;
        height: 170px;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.185);
    }
    .slides h1{
    	  font-size: 16px;
    }
    .slides h3{
        font-size: 8px;
    }
    .bar{
    	width: 25px;
    	height: 5px;
    	margin: 2px;
    }


    /* Infoicon */


    .InfoIcon i {
        font-size: 20px;
        padding: 20px 20px 8px 20px;
        background-color: rgba(231, 231, 231, 0.8);
        /* top right bottom left*/
        transition: 0.5s;
    }
    .InfoIcon p{
    	  font-size: 7px;
    }
    
    
    /* TeamInfos */
    
    
    .TeamTitleBox h1{
       font-size: 16px;
    }
    .TeamTitleBox h3{
    	  font-size: 8px;
    }
    .TeamInfos-area h1{
    	  font-size: 16px;
    	  padding-top: 12vw;
    }
    .TeamInfos-area img{
    	  width: 30px;
    }
    .TeamInfos-area h2{
    	  font-size: 12px;
    }
    .TeamInfos-area p{
    	  font-size: 8px;
    }
    

    /* Friendship-link */


	.friendship-link h1 {
	    font-size: 16px;
	    padding-top: 13vw;
	}
	
	.friendship-link summary {
	    font-size: 12px;
	}
	
	.friendship-link ul {
	    margin-top: 5vw;
	}
	
	.friendship-link p {
	    font-size: 12px;
	}
	
	.friendship-link a {
	    font-size: 12px;
	}
	
	
	/* Footer */
	footer {
		margin-top: 12vw;
	}
	footer h1{
		font-size: 8px;
	}
}